.activity {
    padding-bottom: 94px;

    @media screen and (max-width: 1199px) {
        display: none;
    }
}

.activity__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.activity__item {
    position: relative;
    width: calc((100% - 60px) / 3);
}

.activity__sub-title {
    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
}

.activity__title {
    @include title;
    margin-bottom: 50px;
}
