.clients__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.8;
    text-align: center;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
        @include title;
        margin-bottom: 50px;
    }
}

.clients-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.clients-list__item {
    width: calc((100% - 30px) / 2);

    @media screen and (min-width: 768px) {
        width: calc((100% - 60px) / 3);
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 150px) / 6);
    }
}

.clients-list__link {
    display: flex;
    justify-content: center;
    align-items: center;

    fill: var(--icon-fill);

    height: 92px;
    border: 1px solid var(--clients-border-color);
    border-radius: 4px;
    transition: var(--transition-border-color), var(--transition-fill);

    @media screen and (min-width: 1200px) {
        fill: var(--icon-fill);
        width: 170px;
        height: 92px;
        border: 1px solid var(--clients-border-color);
        border-radius: 4px;
        transition: var(--transition-border-color), var(--transition-fill);
    }

    &:hover,
    &:focus {
        fill: var(--accent-color);
        border-color: var(--accent-color);
    }
}
