.page-header {
    border-bottom: 1px solid var(--border-line-color);
    
}

.page-header__container {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 767px) {
        max-width: 768px;
        min-width: 100%;
    }
}

.menu-container {
    

    @media screen and (max-width: 767px) {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--bg-color);
        width: 100%;
        height: 100vh;
        &.is-open {
        display: block;
        width: 100%;
        padding: 48px 40px;
    }
    }

    @media screen and (min-width: 768px) {
        display: flex;
    }

    
}

.menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    z-index: 1;
    transition: fill var(--cubik);

    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
    & .menu-btn__icon-cross {
        display: none;
    }
    @media screen and (min-width: 768px) {
        display: none;
    }
    
}

.menu-btn.is-open .menu-btn__icon-cross {
    display: block;
}

.menu-btn.is-open .menu-btn__icon-menu {
    display: none;
}



.nav__item {
    @media screen and (max-width: 767px) {
        &:not(:last-child) {
    margin-bottom: 32px;
}
    }

    @media screen and (min-width: 1200px) {
        position: relative;
        .nav__list &:not(:last-child) {
            margin-right: 50px;
        }
    }
}

.nav__link {
    color: inherit;
    text-decoration: none;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    text-align: center;

    @media screen and (min-width: 768px) {
        color: inherit;
        font-size: 14px;
        line-height: 1.14;
        padding: 32px 0;
        display: block;
        transition: var(--transition-color);
    }

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.nav__link--current {
    color: var(--accent-color);
}

.nav__link.nav__link--current::after {
    @media screen and (min-width: 1200px) {
        position: absolute;
        bottom: 0;
        border-radius: 2px;
        content: '';
        width: 100%;
        height: 4px;
        background-color: var(--accent-color);
        display: block;
    }
}

.social-small {
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.social-small__item {
    
    &:not(:first-child) {
        padding-left: 10px;
    }
    &:not(:last-child) {
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        padding-right: 10px;        
    }
}

.social-small__link {
    color: var(--accent-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
}
