.hero {
    background-color: var(--footer-hero-bg-color);
    text-align: center;
    padding: 200px 0;
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/Img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero__title {
    color: var(--text-color);
    font-size: 44px;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    width: 696px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}