.hero {
    background-color: var(--footer-hero-bg-color);
    text-align: center;
    padding: 118px 0;
    max-width: 1600px;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-mobile.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero/hero-mobile@2x.jpg);
    }

    @media screen and (min-width: 768px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero/hero-tablet.jpg);

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/hero/hero-tablet@2x.jpg);
        }
    }

    @media screen and (min-width: 1200px) {
        padding: 200px 0;
        height: 600px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero/hero-desktop.jpg);

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/hero/hero-desktop@2x.jpg);
        }
    }
}

.hero__title {
    color: var(--text-color);
    max-width: 360px;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1.62;
    letter-spacing: 0.06em;

    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 1200px) {
        max-width: 696px;
        font-size: 44px;
        line-height: 1.36;
    }
}
