.button {
    border-radius: 4px;
    background-color: var(--accent-color);
    color: var(--text-color);
    border: none;
    cursor: pointer;
    min-width: 200px;
    height: 50px;

    font-size: 16px;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    
    transition: background-color var(--cubik);
    transition: box-shadow var(--cubik);
    
    &:hover,
    &:focus {
        background-color: var(--button-hover-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}
