.subscribe-form__input {
    width: 100%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 0 15px 16px;
    border-radius: 4px;
    border: var(--border-subscribe);
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    color: var(--text-color);

    @media screen and (max-width: 1199px) {
        max-width: 450px;
        margin-bottom: 20px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 12px;
        width: 358px;
    }

    &:focus {
    border-color: var(--accent-color);
}
}


.subscribe-form__input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__icon {
vertical-align: middle;
    margin-left: 10px;
}