html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: #ffffff;
    color: #212121;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.03em;
    margin: 0;

    @media screen and (max-width: 767px) {
        padding-top: 60px;
    }
}

p,
h1,
h2,
h3 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.button {
    padding: 0;
}