.checkbox-box {
    margin-bottom: 30px;
    
    &__label {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        line-height: 1.71;
        color: var(--secondary-color);

        @media screen and (max-width: 1199px) {
            font-size: 12px;
            line-height: 1.17;
        }
    }
    &__icon-box {
        width: 16px;
        height: 15px;
        border-radius: 2px;
        border: 2px solid #212121;
        margin-right: 7px;
        transition: box-shadow var(--cubik);
        .checkbox-box__input:checked + .checkbox-box__label & {
            border: none;
            background-color: var(--accent-color);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        .checkbox-box__input:focus + .checkbox-box__label & {
            border-color: var(--accent-color);
        }
    }
    &__icon {
        fill: transparent;
    }
    &__link {
        color: var(--accent-color);
    }
    &__input:checked + &__label &__icon {
    fill: var(--bg-color);
}
}

