.close-button {
    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--bg-color);
    cursor: pointer;
    outline: none;
    transition: fill var(--cubik);
    
    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
}
