.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    
    padding: 40px;
    border-radius: 4px;
    background-color: var(--bg-color);

    transform: translate(-50%, -50%) scale(1) rotate(360deg);
    transition: var(--transition-transform);
    .backdrop.is-hidden & {
        transform: translate(-50%, -50%) scale(0.2) rotate(0);
    }

    @media screen and (max-width: 480px) {
        min-width: 100%;
        max-height: 609px;
        
    }
    @media screen and (min-width: 481px) {
        width: 450px;
        height: 609px;
    }

    @media screen and (min-width: 1200px) {
        height: 581px;
    width: 528px;
    }
}

.modal__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    margin-bottom: 12px;
}

.modal__button {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
