.card {
    position: relative;
    
}

@media screen and (max-width: 767px) {
    .cards {
        margin-bottom: -30px;
    }

    .card {
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 768px) {
        .cards {
            display: flex;
        flex-wrap: wrap;
        gap: 30px;
        }
        .card {
            max-width: calc((100% - 30px) / 2);
        }
    }

.card__overlay {
    position: absolute;
    min-height: 100%;
    top: 0;
    left: 0;

    background-color: rgba(33, 150, 243, 0.9);
    font-size: 18px;
    line-height: 1.56;
    padding: 63px 24px;
    color: var(--text-color);
    transform: translateY(101%);
    transition: var(--transition-transform);

    .card__link:hover &,
    .card__link:focus & {
        transform: translateY(0);
    }
}

.card__link {
    display: flex;
    flex-direction: column;
    height: 100%;

    color: inherit;
    transition: var(--transition-box-shadow);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.card__thumb {
    position: relative;
    overflow: hidden;
}

.card__box {
    border: 1px solid var(--portfolio-border-color);
    border-top: none;
    padding: 20px 24px;

    flex-grow: 1;
}

.card__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.card__description {
    font-size: 16px;
    line-height: 1.88;
    color: var(--secondary-color);
}
